*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 100px;
    background-color: black;
    /* border: 1px solid red; */
}

header ul{
    height: 100px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header ul #logo{
    /* border: 1px solid green; */

    width: 175px;
    display: flex;
}
header ul #logo img{
  
    width: 133px;
    height: 50px;
    position: relative;
    top: 23px;
    left: 26px;
}
header ul #logo span{
    color: white;
    font-size: 20px;
    position: relative;
    top: 27px;
    left: 25px;
}
header ul #address{color: white;
    /* border: 1px solid purple; */
    position: relative;
    left: -46px;
    width: 212px;
    display: flex;
    /* visibility: hidden; */
}
header ul #address i{
    font-size: 22px;
    position: relative;
    top: 35px;
    left: 45px;
}
header ul #address div{
    font-size: 18px;
    position: relative;
    top: 20px;left: 48px;
}
header ul #address div p{
    font-size: 16px;
}
/* search */
header ul #search{
    /* color: white; */
    /* visibility: hidden; */
    /* border: 1px solid red; */
    position: relative;
    left: -16px;
    width: 1095px;
}
header ul #search select{
    font-size: 16px;
    height: 62px;
    width: 69px;
    text-align: center;
    position: relative;
    top: 11px;
    left: 6px;
    border-radius: 9px 0px 0px 9px;
    background-color: rgb(245, 240, 240);

}
header ul #search input{
    font-size: 20px;
    height: 62px;
    width: 952px;
    padding-left: 10px;
    position: relative;
    top: 12px;
    left: 0px;
    /* border-radius: 5px; */
}
header ul #search span{
    font-size: 25px;
    height: 62px;
    width: 66px;
    padding: 16px;
    position: relative;
    top: 14px;
    left: -6px;
    border-radius:0px 9px 9px 0px;
    background-color: rgb(231, 187, 67);
}

/* lang */
header ul #lang{
    color: white;
    /* border: 1px solid red; */
    position: relative;
    top: 0px;left: -27px;
    text-align: center;

}
header ul #lang img{
    height: 22px;
    /* width: 20px; */
    position: relative;
    top: 29px;left: 0px;
    color: black;
}
header ul #lang span{
    position: relative;
    top: 26px;left: -6px;
}
header ul #lang i{
    font-size: 12px;
}
/* Account */

header ul #account{
    color: white;
    /* border: 1px solid green; */
    width: 153px;
    position: relative;
    top: 0px;left: -33px;
}
header ul #account p{
    position: relative;
    top: 15px;left: 0px;
}
header ul #account h4{
    font-size: 18px;
    position: relative;
    top: 15px;left: 0px;
}
header ul #account h4 i{
    font-size: 12px;
    position: relative;
    top: 0px;left: 5px;
}

/* orders */
header ul #orders{
    color: white;
    /* border: 1px solid red; */
    position: relative;
    top: 0px;left: -32px;
}
header ul #orders span{
    position: relative;
    top: 15px;left: 0px;
}
header ul #orders h4{
    font-size: 18px;
    position: relative;
    top: 15px;left: 0px;
}
header ul #cart{
    color: white;
    /* border: 1px solid red; */
width: 110px;
display: flex;
position: relative;
top: 0px;left: -32px;


}
header ul #cart i{
    /* color: white; */
    font-size: 40px;
    position: relative;
    top: 17px;left: 0px;
}
header ul #cart h4{
    font-size: 18px;
    position: relative;
    top: 33px;left: 0px;
}



/* nav  */


nav{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}
nav .nav-l{
    color: rgba(255, 255, 255, 0.847);
    /* border: 1px solid rgb(188, 213, 21); */
    /* width: 1445px; */
    width: 70%;
    font-size: 17px;
    background-color: #262f43;
    height: 50px;
    font-weight: 500;
    
}
nav .nav-l ul{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    
}
nav .nav-l ul #l1 i{
    font-size: 24px;
    position: relative;
    top: 11px;
    left: 0px;

}
nav .nav-l ul #l1 h4{
    position: relative;
    top: -12px;
    left: 26px;
}
nav .nav-l ul #l2 h4{
    position:relative;
    top: 0px;left: 16px;
}


nav .nav-r{
    height: 50px;
    width:614px;
}
nav .nav-r img{
    width: 100%;
    height: 100%;
}














